@font-face {
    font-family: "star";
    src: url("../fonts/star.eot");
    src: url("../fonts/star.eot?#iefix") format("embedded-opentype"),
        url("../fonts/star.woff") format("woff"),
        url("../fonts/star.ttf") format("truetype"),
        url("../fonts/star.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
